APP_NAME="DINKES UMPEG"
APP_ENV=production
APP_KEY=base64:6HhW/orVfuvx5umtoD5QzEBTSdZv6F1b60Gu/ae7Izs=
APP_DEBUG=false
APP_URL=https://dinkes.g0st.my.id


# FONTE API KEY
FONNTE_API_TOKEN=
DEFAULT_PHONE=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3317
DB_DATABASE=dinkes_v2
DB_USERNAME=dinkes
DB_PASSWORD=dinkes

BROADCAST_DRIVER=reverb
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REVERB_APP_ID=719062
REVERB_APP_KEY=yakikozfqvpfx632zee6
REVERB_APP_SECRET=ef7zu7mqgetnjefn7uw0
REVERB_PORT=6001
REVERB_HOST=ws.dinkes.g0st.my.id
REVERB_SCHEME=https

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${APP_URL}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
OCTANE_SERVER=frankenphp
